<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Buy!</th>
  </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product.title}}</td>
    <td>{{ product.description }}</td>
    <td>{{product.price / 100}}zł</td>
    <td>
      <button type="button" class="btn btn-default" (click)="addToCart(product)">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Add to cart
      </button>
    </td>
  </tr>
</table>
