<p>You have {{cartItems.length}} items in your bag</p>
<ul class="list-group">
  <li *ngFor="let item of cartItems" class="list-group-item">
    {{item.prodId}}, {{item.title}}, {{item.price / 100}}zł
    <button class="btn btn-default" (click)="removeItem(item)">Remove</button>
  </li>
</ul>
<p>Total: {{(getTotal() | async) / 100}}zł</p>
<button [routerLink]="['/checkout']" class="btn btn-default">Checkout</button>
