<p>You've bought following products:</p>
<ul class="list-group">
  <li *ngFor="let item of cartItems" class="list-group-item">
    {{item.title}}, {{item.price / 100}}zł
  </li>
</ul>
<form [formGroup]="orderForm" (ngSubmit)="addOrder(f1.value)" #f1="ngForm">
  <p>Select payment method:</p>
  <select id="paymentMethod" formControlName="paymentMethod" class="form-control" placeholder="Cash">
    <option selected="selected" value="Cash">Cash</option>
    <option value="Pay4U">Pay4U</option>
    <option value="dotPay">dotPay</option>
    <option value="PayPal">PayPal</option>
  </select>
  <p>Select delivery method</p>
  <select id="deliveryMethod" formControlName="deliveryMethod" class="form-control" placeholder="Hand">
    <option selected="selected" value="Hand">Hand</option>
    <option value="InPost">InPost</option>
    <option value="GLS">GLS</option>
  </select>
  <button class="btn btn-default" [routerLink]="['/success']" [disabled]="!f1.form.valid">Buy!</button>
</form>
