<ul class="nav navbar-nav">
    <li>
        <a [routerLink]="['/products']">All</a>
    </li>
    <li *ngFor="let category of categories"
       [routerLink]="['/productsFromCat', category.catId]">
      <a>{{ category.title }}</a>
    </li>
<ul>
