<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/products']">Categories</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <app-category></app-category>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/login']">login</a>
        </li>
        <li>
          <a [routerLink]="['/register']">register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="nav-bar">
  <button class="btn btn-primary" type="button" routerLink="/cart">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    Cart
    <span class="badge">{{(shoppingCartItems$ | async).length}}</span>
  </button>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
